/*
 * loginStyles.css
 *
 * Project X - 1.2.12
 *
 * Global stylesheet.
 */

body
{
  background: #FFFFFF;
  background-image: url("../images/bluerectangle.png");
  background-position: center;
  display: block;
  background-repeat: repeat-y;
}

#parent
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
}

img#test
{
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bubble
{
  display: inline-block;
}

th
{
  font-size: 30px;
  padding: 3px 3px 10px 3px;
}

td
{
  padding: 3px;
}

#input
{
	font-family: Calibri, Verdana, Ariel, sans-serif;
	border: 3px solid rgba(127, 127, 127, 1.0);
	border-radius: 25px;
	background-color: rgba(193, 205, 205, 0.8);
	padding: 15px 15px 15px 15px;
	display: table;
  margin: -200px auto auto auto;
  z-index: 3;
  position: relative;
} 
