/*
 * styles.css
 *
 * Project X - 1.2.12
 *
 * Global stylesheet.
 */

body
{
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    background-image:url('../images/signin.png');
    background-repeat:no-repeat;
    color: #FFFF66;
    text-align: center;
}

div#header
{
    padding: 0px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 60px;
    margin-left: 0px;
    margin-right: 0px;
    background: #5C9DBD;
    width: 100%;
}

div#addEvent
{
    border:5px solid #6AB3B3;
    border-radius: 10px;
    background-color: #85E0E0;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px 5px 5px 5px;
    text-align: right;
    font-size: 16px;
}

div#loading
{
    position: absolute;
    top: 5px;
    text-align: center;
}

div#calendar
{
    width: 60%;
	float: right;
    margin-right: 5px;
    margin-top: 5px;
}

div#lowerleft
{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: auto;
    text-align: right;
    font-size: 18px;
    margin-top: 5%;
}
