/*
 * styles.css
 *
 * Project X - 1.2.12
 *
 * Global stylesheet.
 */

body
{
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    height: 20%;
	background-image: url(IMG_1002.jpg); 
	background-attachment: fixed;
    color: #FFFF66;
    text-align: center;
}

div#header
{
    height: 200%;
    width: 100%;
    
    
}

table#header
{
    padding: 3px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background: #5C9DBD;
    width: 20%;
    padding-top:2000px;
	padding-bottom:2000px;
	padding-right:2000px;
	padding-left:2000px;
}

th
{
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    text-align: center;
}

div#addEvent
{
	border:5px solid #6AB3B3;
	border-radius: 10px;
	background-color:#85E0E0;
	width: 144px;
	height: 144px;
    float: left;
    height: 50%;
    width: 20%;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
    text-align: right;
    font-size: 16px;
}

div#loading
{
    position: absolute;
    top: 5px;
    text-align: center;
}

div#calendar
{
    float: right;
    width: 55%;
    margin-right: 5%;
    margin-top: 5%;
}

div#lowerleft
{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: auto;
    text-align: right;
    font-size: 18px;
    margin-top: 5%;
}
